<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>sherlach.~s</h1>
        </a>
        <h2>The gAm3 i5 abart.</h2>

        <section id="downloads">
          <a href="https://github.com/sherlach" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
    <br>
    <br>
    <div class="container">
      <section id="footer">
          <p>© sherlach 2022. Content and ideas may not be taken from this webpage without the written permission of the author.</p>
          <a href="/">cd ~</a>
      </section>
    </div>
  </body>
</html>
